@model Restaurant

<div class="card h-100">
    <div class="card-body">
        @* Name of the restaurant *@
        <a asp-action="Details" asp-route-id="@Model.Id">
            <h5 class="card-title">@Model.Name</h5> @* Points to the Controller action Details *@
        </a>

        @* Type of Cuisine *@
        <h6 class="card-subtitle mb-2 text-muted">@Model.Cuisine cuisine</h6> 
         
        @* Button to Edit the restaurant *@
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @* Points to the Controller action Edit *@
    </div>
    <div class="card-footer">
        @{
            var iconSize = "23px";

            <a href="#">
                <img class="rest-card-like-icon" src="~/content/images/icons/like.png" height=@iconSize width=@iconSize alt="Like" />
                @Model.Likes
            </a>

            <a href="#">
                <img class="rest-card-like-icon" src="~/content/images/icons/dislike.png" height=@iconSize width=@iconSize alt="Dislike" />
                @Model.Likes
            </a>
        }
</div>
</div>